.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f4f8;
}

.login_box {
  width: 900px;
  height: 550px;
  display: flex;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
}

/* LEFT */
.login_left {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_left h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.login_subtitle {
  color: #666;
  margin-bottom: 30px;
}

.login_fields input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.login_fields input:focus {
  outline: none;
  border-color: #3b82f6;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.login_btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}



/* RIGHT IMAGE */
.login_right {
  flex: 1;
}

.login_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MOBILE */
@media (max-width: 768px) {
  .login_box {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .login_right {
    display: none;
  }
}
