
:root{
    --color1: #FD5901;
    --color2: #F78104;
    --color3: #FAAB36;
    --color4: #249EA0;
    --color5: #008083;
    --color6: #005F60;
    --color7: #cc0000;
    --card_color: #e1e4e4
}
body{
    font-family: Montserrat;
}

.primary-btn{
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid var(--color5);
    color: var(--color5);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.primary-btn:hover{
    background-color: var(--color5);
    color: white;
}

.primary-btn2{
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid var(--color2);
    color: var(--color2);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.primary-btn2:hover{
    background-color: var(--color2);
    color: white;
}

.primary-btn3{
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid var(--color7);
    color: var(--color7);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.primary-btn3:hover{
    background-color: var(--color7);
    color: white;
}